@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    
}

.welcome {

 font-family: 'Lato', sans-serif;
 font-size: 12px;
 
}

.welcome h1 {
    font-size: 20px;
    margin-left: 80px;
}

.welcome h2 {
    margin-top: 10px;
    margin-left: 80px;
}